body {
    font-family: "Courier New", Courier;
    height: 100vh;
    margin: 0px;
	/*background-color: #ceccc4;*/
	background-color: #dbd9d1;
	color: black;
	/* for firefox 
	overflow: -moz-scrollbars-horizontal;
	overflow-y: hidden;
	overflow-x: auto;*/
}

.expand {
	height: 100vh;
}

.stretch-half {
	width: 50%;
}

.parent-center {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.parent-horiz {
	display: flex;
}

.parent-vert {
	display: flex;
	flex-flow: column;
}

.align-left {
	justify-content: left;
}

.logo {
	background: url('../images/logo.webp') no-repeat center;
	background-size: 14vw;
	height: 14vw;
	width: 14vw;
	margin-right: -1vw;
}

.mc {
	background: url('../images/mc.webp') no-repeat center;
	background-size: 37vw;
	height: 5vw;
	margin-top: 1.2vw;
	margin-left: -0.5vw;
}

.tm {
	font-size: 1.6vw;
	margin-top: 1.5vw;
	margin-left: 0.3vw;
}

.copy {
	font-size: 1.5vw;
	color: #627c26;
	margin-left: 5vw;
	/*text-shadow: 0.4vw 0.4vw 0.8vw #a6a6a6;*/
}

.addendum {
	font-size: 1.1vw;
	color: #627c26;
	text-shadow: none;
	margin-right: 5vw;
}

.addendum a {
	text-decoration: none;
	color: #627c26;
}

.f-small {
    font-size: 3vw;
	font-weight: bold;
}

.f-large {
    font-size: 4vw;
	font-weight: bold;
	letter-spacing: 0.8vw;
}

.f-white {
	color: white;
}

.bg-red {
	background-color: #a82a00;
}

.adj-1 {
	padding-left: 1.3vw;
}

.adj-3 {
	padding-left: 1vw;
}

.adj-4 {
	letter-spacing: 0.8vw;
}

.adj-5 {
	padding-right: 0.8vw;
}

.adj-2, .adj-4 {
	padding-top: 1.6vw;
}

.adj-1, .adj-5, .adj-3 {
	padding-top: 0.8vw;
	padding-bottom: 0.7vw;
}

.space-h1 {
	width: 2.5vw;
}

.space-v1 {
	height: 1vw;
}

.space-v2 {
	height: 6vw;
}