:root {
    --b-rad: 0.45vw; 
}

body {
    font-family: "Courier New", Courier;
    height: 100vh;
    margin: 0px;
	background: url('../images/background.webp') repeat center;
	background-size: 17.5%;
	background-color: #F2F2E8;/*#dbd9d1;*/ /*#4b5461;*/  /* #ceccc4;*/
	color: black;
	/* for firefox 
	overflow: -moz-scrollbars-horizontal;
	overflow-y: hidden;
	overflow-x: auto;*/
}

.expand {
	height: 100vh;
}

.stretch-half {
	width: 50%;
}

.parent-center {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.parent-horiz {
	display: flex;
}

.banner {
	border-radius: 1vw;
	padding: 6vw;
	box-shadow: 0 0 4vw -0.75vw #18181B; /*#A6A09B;*/
	background-color: rgba(242, 242, 232, 1);/*#F2F2E8;*/ /*#dbd9d1;*/
	/*backdrop-filter: blur(3vw);*/
}

.parent-vert {
	display: flex;
	flex-flow: column;
}

.align-left {
	justify-content: left;
}

.logo {
	background: url('../images/logo.webp') no-repeat center;
	background-size: 14vw;
	height: 14vw;
	width: 14vw;
	margin-right: -1vw;
}

.mc {
	background: url('../images/mc.webp') no-repeat center;
	background-size: 37vw;
	height: 5vw;
	margin-top: 0.5vw;
	margin-left: -0.5vw;
}

.tm {
	font-size: 1.2vw;
	margin-top: 3.0vw;
	margin-left: -1.3vw;
}

.copy {
	font-size: 1.5vw;
	color: #627c26;
	margin-left: 5vw;
	font-weight: bold;
	/*text-shadow: 0.4vw 0.4vw 0.8vw #a6a6a6;*/
}

.addendum {
	font-size: 1.1vw;
	font-weight: bold;
	color: #627c26;
	text-shadow: none;
	margin-right: 5vw;
}

.addendum a {
	text-decoration: none;
	color: #627c26;
}

.f-small {
    font-size: 3vw;
	font-weight: bold;
}

.f-large {
    font-size: 4vw;
	font-weight: bold;
	letter-spacing: 0.8vw;
}

.f-side {
	color: #c9521c;/*#a82a00;*/ /*white;*/
}

.f-mid {
	color: #44403B;/*#57534D;*/
}

.bg-red {
	/*background-color: white; /*#91a42c; /*#a82a00;*/
}

.adj-1 {
	padding-left: 1.3vw;
	margin-right: -0.7vw;
	border-top-left-radius: var(--b-rad);
	border-bottom-left-radius: var(--b-rad);
}

.adj-2 {
	border-top-right-radius: var(--b-rad);
	border-bottom-right-radius: var(--b-rad);
}

.adj-3 {
	padding-left: 0.2vw;
	margin-right: -0.8vw;
}

.adj-4 {
	/*letter-spacing: 0.8vw;*/
	border-top-left-radius: var(--b-rad);
	border-bottom-left-radius: var(--b-rad);
}

.adj-5 {
	padding-right: 0.8vw;
	border-top-right-radius: var(--b-rad);
	border-bottom-right-radius: var(--b-rad);
}

.adj-2, .adj-4 {
	padding-top: 1.6vw;
}

.adj-1, .adj-5, .adj-3 {
	padding-top: 0.8vw;
	padding-bottom: 0.7vw;
}

.space-h1 {
	width: 2.5vw;
}

.space-v1 {
	height: 0.2vw;
}

.space-v2 {
	height: 6vw;
}